/*
 * Reset some styles.
 */

 html {
    background-color: #ffffff;
    font-size: 1em;
    line-height: 1.4;
    scroll-behavior: smooth;

}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

a {
    color:  #C41616;;
}
a:visited{
    color: #767676;
}


body {
    font-family: 'Inconsolata', monospace;
    color: #494141;
    margin:30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

section {
    height: 100%;
  }

/* ========================= Header Styling ========================= */



.scrolling-box {
    background-color: #eaeaea;
    display: block;
    height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    text-align: center;
 
  }

.header {
    width: 100%;

}

.header-bar{
    display: inline-flex;
    justify-content: space-between;
    width:100%;
}

.header .nav-ham-bar{
    width: 35px;
    display: none;

}

.header .logo{
    height: 76px;
}


.header .find-me-icon{
    width: 15px;
    padding: 3px;
}

.header .resume{
    text-decoration: none;
    color: #C41616;
    padding-left: 13px;
}



@media all and (min-width: 700px){
    .header .nav-ham-bar {
        width: 40px;
    }


    .header .find-me-icon{
        padding: 2px;
        width: 20px;
    }

}

/* ========================= Main Page ========================= */


.about{
    padding-top: 17vh;
}


.message-1{
    text-align: center;
    height: 85vh;
}

.message-1 .construction{
    font-size: 35px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}



.message-1 .about-text{

    text-align: left;
    margin: 0 auto;
    font-family: Rounded Mplus 1 c;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 10.5px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: inline-flex;
}


.special-touch{
    color: #C41616;
}


.message-1 .smile{
    position: relative;
    width: 74px;
    top: -115px;
    right:-115px;
}

.message-1 .heart{
    position: relative;
    top: -135px;
    left: -13px;
    width: 40px;
}

.message-1 .path{
    position: relative;
    width:130px;
    left: 32px;
    top: -80px;
}



.mini-blog{
    padding-top: 30vh;
    margin: 0 auto;
    text-align: left;
}



@media all and (min-width: 800px) {
    .header .logo{
        height: 88px;
    }
    .header .resume{
        text-decoration: none;
        color: #C41616;
        padding-left: 22px;
    }
    .message-1 .about{
        display: inline-flex;
        justify-content: space-between;
        width: 100%;
    }

    .message-1 .about-text{
        font-size: 18px;
    }

    .message-1 .smile{
        width: 150px;
        left:-60px;
        top: unset;
    }

    .message-1 .heart{
        top: -50px;
        left:-60px;
        width: 70px;
    }

    .message-1 .path{
        width: 175px;
        left: -30px;
        top: 15px;
    }

    .mini-blog{
        padding-top: 50vh;
        margin: 0 auto;
        text-align: left;
    }



}


/* ========================= Mini Blog Styling =================== */


@media all and (min-width: 700px){
   body {
       margin:50px auto;
       max-width: 760px;
   }

}